@{
    ViewData["Title"] = "Libro";
}
<section class="d-flex justify-content-between align-items-center mb-5">
    <h1>Detalles libro</h1>
    <a class="btn btn-primary text-capitalize" role="button" asp-area="" asp-controller="Libro" asp-action="Index">volver</a>
</section>
<section class="text-capitalize d-flex gap-5">
    
    <figure class="text-center">
        <img src="https://th.bing.com/th/id/OIP.1nkei7_a3colCrvt1qxGJAHaMG?rs=1&pid=ImgDetMain" width="150" alt="portada cien años de soledad" title="cien años de soledad" />
        <figcaption>cien años de soledad</figcaption>
    </figure>
    <article>
        <p>
            "Cien años de soledad" es una novela escrita por el autor colombiano Gabriel García Márquez. Publicada en 1967, es considerada una de las obras más importantes del movimiento literario conocido como el realismo mágico. La novela narra la historia de la familia Buendía a lo largo de varias generaciones en el ficticio pueblo de Macondo. A través de un estilo narrativo único y una trama rica en simbolismo, García Márquez explora temas como la soledad, la identidad, el amor y el destino, mientras entrelaza elementos de la realidad y lo fantástico. "Cien años de soledad" es una obra monumental que ha dejado una profunda huella en la literatura mundial, recibiendo el reconocimiento de críticos y lectores por igual.
        </p>
        <p>
            <b>Fecha de publicación:</b>  1967<br>
            <b>Autor:</b> Gabriel García Márquez<br>
            <b>Número de copias disponibles:</b>  10
        </p>
    </article>
</section>
