@{
    ViewData["Title"] = "Libro";
}

<section>
    <article class="d-flex justify-content-between">
        <form class="d-flex " role="search">
            <input class="form-control me-2" type="search" placeholder="Titulo, autor ..." aria-label="Search">
            <button class="btn btn-outline-success d-flex" type="submit"><i class="bi bi-search me-2"></i>Buscar</button>
        </form>
        <div>
            <a class="btn btn-primary text-capitalize" role="button" asp-area="" asp-controller="Libro" asp-action="Create">nuevo</a>
        </div>
    </article>
</section>

<section class="table-responsive-sm">
    <table class="table table-striped table-hover align-middle caption-top text-capitalize">
        <caption>Lista de libros</caption>
        <thead>
            <tr>
                <th scope="col">titulo</th>
                <th scope="col">autor</th>
                <th scope="col">género</th>
                <th scope="col">Año de publicacion</th>
                <th scope="col">copias disponibles</th>
                <th scope="col" class="text-center">operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">cien años de soledad</th>
                <td>gabriel garcía márquez</td>
                <td>novela</td>
                <td>1967</td>
                <td>10</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Libro" asp-action="Edit">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Don Quijote de la Mancha</th>
                <td>Miguel de Cervantes</td>
                <td>Novela</td>
                <td>1605</td>
                <td>15</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Orgullo y prejuicio</th>
                <td>Jane Austen</td>
                <td>Novela</td>
                <td>1813</td>
                <td>20</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1984</th>
                <td>George Orwell</td>
                <td>Ficción distópica</td>
                <td>1949</td>
                <td>12</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Matar un ruiseñor</th>
                <td>Harper Lee</td>
                <td>Novela</td>
                <td>1960</td>
                <td>18</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Harry Potter y la piedra filosofal</th>
                <td>J.K. Rowling</td>
                <td>Fantasía</td>
                <td>1997</td>
                <td>25</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">El Hobbit</th>
                <td>J.R.R. Tolkien</td>
                <td>Fantasía</td>
                <td>1937</td>
                <td>22</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">El señor de los anillos: La comunidad del anillo</th>
                <td>J.R.R. Tolkien</td>
                <td>Fantasía</td>
                <td>1954</td>
                <td>17</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Crónica de una muerte anunciada</th>
                <td>Gabriel García Márquez</td>
                <td>Novela</td>
                <td>1981</td>
                <td>14</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Crimen y castigo</th>
                <td>Fiodor Dostoyevski</td>
                <td>Novela</td>
                <td>1866</td>
                <td>16</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">El amor en los tiempos del cólera</th>
                <td>Gabriel García Márquez</td>
                <td>Novela</td>
                <td>1985</td>
                <td>19</td>
                <td class="text-center">
                    <div class="btn-group gap-2">
                        <a class="btn btn-info text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">detalles</a>
                        <a class="btn btn-warning text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">editar</a>
                        <a class="btn btn-danger text-capitalize rounded" role="button" asp-area="" asp-controller="Home" asp-action="Index">eliminar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>