@{
    ViewData["Title"] = "Home";
}

<section>
    <h1 class="text-body-emphasis">Biblioteca</h1>
    <p class="fs-5 col-md-8">Sistema de gestión para bibliotecas que permite administrar eficazmente su colección de libros, así como realizar un seguimiento de los usuarios y los préstamos de libros.</p>

    <div class="mb-5">
        <a href="../examples/" class="btn btn-primary btn-lg px-4">Nuevo prestamo</a>
    </div>

    <hr>

    <div class="row g-5">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">Usuarios</h2>
            <p>Administra las cuentas de usuarios de manera rápida y sencilla. Desde esta sección, puedes actualizar la información personal de los usuarios de la biblioteca.</p>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="icon-link mb-1 text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                        Registrar un nuevo usuario
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1 text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                        Ver la lista de usuarios
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="text-body-emphasis">Libros</h2>
            <p>Gestiona tus libros de manera rápida y sencilla. Desde esta sección, puedes llevar a cabo todas las operaciones relacionadas con el manejo de tu colección de libros.</p>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="icon-link mb-1 text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                        Registrar un nuevo libro
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1 text-decoration-none" asp-area="" asp-controller="Libro" asp-action="Index">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                        Ver la lista de libros
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
