@{
    ViewData["Title"] = "Usuario";
}
<section class="d-flex justify-content-between align-items-center">
    <h1>Detalles del Usuario</h1>
    <a class="btn btn-primary text-capitalize" role="button" asp-area="" asp-controller="Usuario" asp-action="Index">volver</a>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li><strong>Nombre Completo:</strong><span>Javier Cómbita Téllez</span></li>
                <li><strong>Dirección:</strong><span>CL 49 # 50-46</span></li>
                <li><strong>Correo Electrónico:</strong><span>jcomte23@outlook.com</span></li>
                <li><strong>Teléfono Principal:</strong><span>(+57) 313 695 40 17</span></li>
                <li><strong>Teléfono Secundario:</strong><span>(+57) 320 346 16 64</span></li>
            </ul>
        </div>
    </div>
</section>
