@{
    ViewData["Title"] = "Usuario";
}

<section class="vh-100">
    <article class="d-flex justify-content-between align-items-center">
        <h1>Actualizar usuario</h1>
        <a class="btn btn-primary text-capitalize" role="button" asp-area="" asp-controller="Usuario" asp-action="Index">volver</a>
    </article>
    <form class="row g-3 text-capitalize">
        <div class="col-md-6">
            <label for="nombreCompleto" class="form-label">nombre completo</label>
            <input type="text" class="form-control" id="nombreCompleto" value="Javier Combita Tellez">
        </div>
        <div class="col-md-6">
            <label for="direccion" class="form-label">direccion</label>
            <input type="text" class="form-control" id="direccion" value="CL 49 # 50-46">
        </div>
        <div class="col-md-4">
            <label for="correo" class="form-label">correo</label>
            <input type="email" class="form-control" id="correo" value="jcomte23@outlook.com">
        </div>
        <div class="col-md-4">
            <label for="telefono" class="form-label">telefono</label>
            <input type="tel" class="form-control" id="telefono" placeholder="(+57) 333 333 22 11" value="(+57) 313 695 40 17">
        </div>
        <div class="col-md-4">
            <label for="telefonoRespaldo" class="form-label">telefono de respaldo</label>
            <input type="tel" class="form-control" id="telefonoRespaldo" placeholder="(+57) 333 333 22 11" value="(+57) 320 346 16 64">
        </div>
        <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-success text-capitalize">guardar</button>
            <button type="reset" class="btn btn-danger text-capitalize">cancelar</button>
        </div>
    </form>
</section>